<div class="modal ng-scope" class="span9">
  <div class="modal-header">
    <h3>About Nodebook</h3>
  </div>
  <div class="modal-body">
    <p>Nodebook is a web application designed and developed by <a href="http://benjvogt.com">Ben Vogt</a> for a special project at Beloit College. If you have any questions or comments you can contact him via email: <a href="mailto:benjvogt@gmail.com">benjvogt@gmail.com</a></p>
    <p>If you're curious about what Nodebook is doing with the your data, you can read the <a href="/terms">Terms of Service and Privacy Policy.</a></p>
  </div>
  <div class="modal-footer">
    <button ng-click="close()" class="btn btn-small">Close</button>
  </div>
</div>
