<div class="modal ng-scope" class="span9">
  <div class="modal-header">
    <h3>Create Graph</h3>
  </div>
  <div class="modal-body">
    <form name="graph">
      <input type="text" class="add-graph-area" placeholder="Graph Name" ng-model="newGraphName" />
      <div class="select-color">
        <div>Select Color:</div>
        <select ng-model="selectedColor" ng-options="c.name for c in colors">
          {{c.name}}
        </select>
        <span class="selected badge {{selectedColor.name}}">{{selectedColor.name}}</span>
      </div>
      <textarea class="graph-keyword-area" placeholder="Keywords (e.g. science, technology, wireless, iOS, tech, future, internet)" ng-model="keywords"></textarea>
    </form>
  </div>
  <div class="modal-footer">
    <button ng-click="close()" class="btn btn-small">Cancel</button>
    <button ng-click="createGraph()" class="btn btn-primary btn-small">Create graph</button>
  </div>
</div>
