<div class="modal ng-scope" class="span9">
  <div class="modal-header">
    <h3>Give Anonymous Feedback</h3>
  </div>
  <div class="modal-body">
    <p>I'd love to hear what you think of the application. What does it do well? What does it suck at? What do you wish it could do?</p>
    <textarea class="add-node-area" placeholder="Penny for your thoughts...." ng-model="feedback"></textarea>
  </div>
  <div class="modal-footer">
    <button ng-click="close()" class="btn btn-small">Cancel</button>
    <button ng-click="send()" class="btn btn-primary btn-small">Send Feedback</button>
  </div>
</div>
