<div class="modal ng-scope" class="span9">
  <div class="modal-header">
    <h3>Graph Overviews</h3>
  </div>
  <div class="modal-body" ng-repeat="graph in graphs">
    <h4>{{graph.name}}</h4>
    <span>Color: </span><span class="badge" ng-class="graph.color">{{graph.color}}</span>
    <br />
    <span>Nodes: <span><span>At least {{graph.nodes.length}} nodes in this graph.</span>
    <br />
    <span>Keywords: </span><span ng-repeat="word in graph.keywords"> {{word}}, </span>
    <a href="#" class="pull-right" ng-click="delete(graph._id)">Delete</a>
  </div>
  <div class="modal-footer">
    <button ng-click="close()" class="btn btn-small">Close</button>
  </div>
</div>
