<div class="modal ng-scope" class="span9">
  <div class="modal-header">
    <h3>Help</h3>
  </div>
  
  <div class="modal-body">
    <h4>Terms:</h4>
    <p><strong>Node:</strong> A node is a piece of text that can be as short as a tweet or as long as several pages. It is represented on the graph as a dot.</p>
    <p><strong>Connection:</strong> A connection represents the words that two nodes have in common. The heavier, darker, or thicker the connection, the more words those nodes have in common.</p>
    <br/>
    <h4>Node Actions:</h4>
    <p><strong>Viewing a Node:</strong> If you click a node on the graph, the sidebar on the left will automaticall scroll to that node. Inversely, if you click on a node's text, the node will be highlighted on the graph.</p>
    <p><strong>Adding a Node:</strong> To add a node click the button "New Node" in the top bar.</p>
    <p><strong>Editing a Node:</strong> Find the node in the sidebar and click "Edit Node." Note: Editing a node will cause it's connections to change.</p>
    <p><strong>Deleting a Node:</strong> Find the node in the sidebar and click "Edit Node." On the pop-up you will see a button to delete the node. Node: deleting a node will delete its connections, because you can't have a connection to a node that does not exist anymore.</p>
    <p><strong>Compare Two Nodes:</strong> Select one node on the graph by clicking it. Then hold the 'shift' key and select another one.</p>
    <br/>
    <h4>Other:</h4>
    <p><strong>Deleting your account: </strong> You want to leave? *gasp!* That's ok, just click your name in the upper right hand corner of the sceen, select "User Info" and then click the link in the popup menu that says "Delete account." Leaving anonymous feedback would be appreciated before you go though!</p>
  </div>

  <div class="modal-footer">
    <button ng-click="close()" class="btn btn-small">Close</button>
  </div>
</div>
