<div class="modal ng-scope" class="span9">
  <div class="modal-header welcome-header">
    <h3 class="center">Welcome {{user.name.givenName}}</h3>
  </div>
  <div class="modal-body">
    <h4>Nodebook is a visually intuitive way to organize of your ideas.</h4>
    <div class="diagram"><img src="img/diagram.png" /></div>
    <p>Nodes are piece of text, and the connection between them represents words they have in common. For example if one node has the text:
      <blockquote>There are too many <span class="label">fish</span> in my tank.</blockquote>
    and another node has the text:
      <blockquote>The ocean has a wide variety of <span class="label">fish</span>.</blockquote>
      They would be a connection between the two, because they contain the word "fish."
    </p>
    <p></p>
    <br/>
    <h4>Here's how you can get started with Nodebook</h4>
    <p><strong>View a Demo:</strong> View a demo graph of Jack London's autobiography by <a href="" ng-click="jack()">clicking here</a><p>
    <p><strong>Start your Graph:</strong> get started with your own graph by <a href="" ng-click="forceAdd()">adding a node</a></p>
    <p><strong>Read a quick Description:</strong> Read about <a href="" ng-click="help()">Nodebook's functions</a></p>
  </div>
  <div class="modal-footer">
    <button ng-click="close()" id="closeModal" class="btn btn-small">Close</button>
  </div>
</div>
